.container {
  border: 1px dotted black;
  display: inline-block;
  padding: 16px 24px;
}

.counter {
  font-size: 12px;
  border-top: 1px solid black;
  color: gray;
  margin: 0;
  padding: 8px 0 0;
}

.name {
  margin: 0;
  padding: 0 0 8px;
}